<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<configSections>
		<section name="FirstDataBankEurope"
			type="FirstDataBank.DrugServer.Configuration.FirstDataBankEurope, FirstDataBank.DrugServer.API"
			allowLocation="true"
			allowDefinition="Everywhere"/>
	</configSections>

	<appSettings>
		<!-- ... -->
	</appSettings>

	<FirstDataBankEurope xmlns="http://www.firstdatabank.co.uk/DrugServer/ConfigSection.xsd"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.firstdatabank.co.uk/DrugServer/ConfigSection.xsd ConfigSection.xsd">
		<Localisation defaultRegion="England" defaultLanguage="English"/>
		<Proxies>
			<!--Use either the first block of 3 for local access, or the second block of 3 for remote WCF access-->

			<Proxy name="Proxy"
				assembly="FirstDataBank.DrugServer.VirtualProxy, Culture=neutral, PublicKeyToken=9d183bfa74667b57"
				type="FirstDataBank.DrugServer.Client.VirtualProxy"/>
			<Proxy name="Proxy_UK"
				assembly="FirstDataBank.DrugServer.VirtualProxy, Culture=neutral, PublicKeyToken=9d183bfa74667b57"
				type="FirstDataBank.DrugServer.Client.VirtualProxyUK"/>
			<Proxy name="Proxy_Scotland"
				assembly="FirstDataBank.DrugServer.VirtualProxy, Culture=neutral, PublicKeyToken=9d183bfa74667b57"
				type="FirstDataBank.DrugServer.Client.VirtualProxyScotland"/>
			<Proxy name="Proxy_Ireland"
				assembly="FirstDataBank.DrugServer.VirtualProxy, Culture=neutral, PublicKeyToken=9d183bfa74667b57"
				type="FirstDataBank.DrugServer.Client.VirtualProxyIreland"/>

			<!--
			<Proxy name="Proxy"
				assembly="FirstDataBank.DrugServer.WCFProxy, Version=2.7.0, Culture=neutral, PublicKeyToken=9d183bfa74667b57"
				type="FirstDataBank.DrugServer.Client.WCFProxy"/>
			<Proxy name="Proxy_UK"
				assembly="FirstDataBank.DrugServer.WCFProxy, Version=2.7.0, Culture=neutral, PublicKeyToken=9d183bfa74667b57"
				type="FirstDataBank.DrugServer.Client.WCFProxy"/>
			<Proxy name="Proxy_Scotland"
				assembly="FirstDataBank.DrugServer.WCFProxy, Version=2.7.0, Culture=neutral, PublicKeyToken=9d183bfa74667b57"
				type="FirstDataBank.DrugServer.Client.WCFProxy"/>
			<Proxy name="Proxy_Ireland"
				assembly="FirstDataBank.DrugServer.WCFProxy, Version=2.7.0, Culture=neutral, PublicKeyToken=9d183bfa74667b57"
				type="FirstDataBank.DrugServer.Client.WCFProxyIreland"/>
			-->
		</Proxies>
		<!--Only relevant to local (virtual) proxy connections-->
		<Database connectionName="MyDatabaseConnection"/>
		<!--Only relevant to remote (WCF) proxy connections-->
		<WCF endPointName="MyServiceEndPoint"/>
	</FirstDataBankEurope>

	<connectionStrings>
		<add name="MyDatabaseConnection"
			connectionString="Data Source=(local);Initial Catalog=DotNetTest;Integrated Security=True"
			providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.serviceModel>
		<client>
			<endpoint name="MyServiceEndPoint" address="http://localhost:8085/DrugService/DrugService"
				binding="basicHttpBinding" bindingConfiguration="customBinding" behaviorConfiguration="WCFDrugService"
				contract="FirstDataBank.DrugServer.WCFService.IDrugService" />
		</client>
		<behaviors>
			<endpointBehaviors>
				<behavior name="WCFDrugService">
					<dataContractSerializer maxItemsInObjectGraph="100000000" />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<bindings>
			<basicHttpBinding>
				<binding name="customBinding"
					closeTimeout="00:10:00" openTimeout="00:10:00"
					receiveTimeout="00:15:00" sendTimeout="00:30:00"
					allowCookies="false"
					bypassProxyOnLocal="false"
					hostNameComparisonMode="StrongWildcard"
					maxBufferSize="524288" maxBufferPoolSize="524288" maxReceivedMessageSize="100000000"
					messageEncoding="Text" textEncoding="utf-8"
					transferMode="StreamedResponse"
					useDefaultWebProxy="true">
					<readerQuotas maxDepth="32"
						maxStringContentLength="128000"
						maxArrayLength="16384"
						maxBytesPerRead="4096"
						maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
	</system.serviceModel>
</configuration>
